log_facility=daemon
debug=0
pid_file=/run/nrpe/nrpe.pid
server_port=5666
nrpe_user=nrpe
nrpe_group=nrpe
allowed_hosts=127.0.0.1,::1,,10.0.2.0/24,172.16.0.0/24,10.2.7.0/24,192.168.123.0/24,192.168.1.0/24,192.168.6.0/24,192.168.12.0/24
dont_blame_nrpe=1
allow_bash_command_substitution=0
command_timeout=60
connection_timeout=300
disable_syslog=0
command[check_users]=/usr/lib64/nagios/plugins/check_users -w 5 -c 10
command[check_load]=/usr/lib64/nagios/plugins/check_load -r -w .15,.10,.05 -c .30,.25,.20
command[check_root]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p /dev/sda5
command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w 150 -c 200
command[check_updates]=/usr/lib64/nagios/plugins/check_updates
command[check_uptime]=/usr/lib64/nagios/plugins/check_uptime
command[check_swap]=/usr/lib64/nagios/plugins/check_swap -w 20% -c 10%
command[check_home]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p /home
command[check_ssh]=/usr/lib64/nagios/plugins/check_ssh -4 -p 22 0.0.0.0
command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% 
command[check_ntp]=/usr/lib64/nagios/plugins/check_ntp -H 172.16.0.17
include_dir=/etc/nrpe.d/